form {
  background: #A16AFE;
  border: 2px solid #53617A;
  color: #F7DD50;
  display: flex;
  flex-direction: column;
  margin: 1% 20%;
  padding: 1% 8%;
  text-align: center;
}

label {
  font-size: 20px;
  text-align: left;
  margin: 1% 0%;
}

input {
  border: none;
  padding: 1% 0% 1% 1%;
  font-size: 25px;
}

.submit-btn {
  background: #53617A;
  border: 2px solid #F7DD50;
  color: white;
  font-size: 30px;
  margin: 2% 0%;
  padding: 2%;
}

.submit-btn:hover {
  background: #F7DD50;
  border: 2px solid #53617A;
  color: #A16AFE;
  transition: ease .4s;
}
